table {
    /*border: solid 2px;*/
    border-collapse: separate;
    /*border-spacing: 10px;*/
    color: #4a4a4d;
    font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
}
th,
td {
    border: 1px solid #cecfd5;
    padding: 10px 15px;
    vertical-align: middle;
}